<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<%= show_search_message %>
<% if @hits.any? %>
  <% @hits.each do |ch, paragraphs| %>
  <ul>
    <li><h4><%= @toc[ch - 1] %></h4>
      <ul>
      <% paragraphs.each do |para| %>
        <li><a href="/chapters/<%= ch %>#paragraph_<%= para %>"><%= return_text(ch, para) %></a></li>
      <% end %>
      </ul>
    </li>
  </ul>
  <% end %>
<% end %>


