<ul>
  <% @files.each do |file| %>
    <% filename = shortname(file) %>
    <li>
      <a href="/<%= filename %>"><%= filename %></a> 
      <a href="/<%= filename %>/edit">Edit</a>
      <form class="inline" action="/<%= filename %>/delete" method="post">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% end %>
</ul>
<p><a href="/new">New Document</a></p>
<% if session[:user] %>
  <p class="signin_status">Signed in as <%= session[:user] %>
    <form class="inline" action="/users/signout" method="post"> 
      <button type="submit">Sign Out</button>
    </form>
  </p>
  <% else %>
  <p class="signin_status">Not signed in.
    <form class="inline" action="/users/signin" method="post">
      <button type="submit">Sign In</button>
    </form>
  </p>
<% end %>
  
  

